.post-card-button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: inherit;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.post-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-card h3, .post-card p {
    margin: 0;
}
