.post {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--page-padding);
    max-width: var(--page-max-width);
}

.title, .paragraph {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content img {
    width: fit-content;
}

.date {
    color: var(--secondary-text-color);
}
