#category-post-page {
    box-sizing: border-box;
    margin: auto;
    padding: var(--page-padding);
    max-width: var(--page-max-width);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
