.post {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.title, .paragraph {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content img {
    width: fit-content;
}

.date {
    color: var(--secondary-text-color);
}

.paragraph {
    white-space: pre-line;
}
