#create-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: auto;
    padding: var(--page-padding);
    max-width: var(--page-max-width);
}

#create-post input, #create-post textarea {
    padding: 10px;
    box-sizing: border-box;
}

#create-post input, #create-post textarea {
    width: 100%;
}

#create-post section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-post textarea {
    resize: none;
}

#title {
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.content-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#new-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
